<li>
	{{!-- key matches column names in ramen table --}}
	<div class="container border rounded mt-1 mb-1 text-wrap">

		<div class="row">
			<h5>Order {{this.id}}: {{this.name}}
		</div>
		<div class="row">
			<div class="col-sm">
				<button type="button" class="btn btn-danger btn-sm float-right delete-ramen " data-id="{{this.id}}">DELETE</button>

				<button type="button" class="btn btn-success btn-sm float-right mr-1 change-made" data-id="{{id}}" data-newmade="{{made}}"> {{!-- made is from index.handlebar line 19 --}}
					{{!-- like a if statement --}}
					{{#if made}}Done{{else}}Make it Again!{{/if}}
				</button>
			</div>
        </div>
	</h5>
	</div>
</li>