<li>
	{{!-- key matches column names in ramen table --}}
    <p>ID: {{this.id}} Order Name: {{this.name}} {{this.date}}

	<button class="change-made" data-id="{{id}}" data-newmade="{{made}}"> {{!-- made is from index.handlebar line 19 --}}
		{{!-- like a if statement --}}
		{{#if made}}Serve!{{else}}Make it Again!!{{/if}}
	</button>

	<button class="delete-ramen" data-id="{{this.id}}">DELETE!</button>

	</p>
</li>